.breadcrumb.site-navi{
  background-color:brown;
  width:100%;
}
　
.blink{
  animation: 1s linear infinite blink_effect;
}
@keyframes blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.card-body.color{
  background-color: black;
}

.submenu{
  position:-webkit-sticky;
  position:sticky;
  top:10px;
  z-index:100;
  width:320px;
}