.breadcrumb.site-navi{
  background-color:brown;
  width:100%;
}
.blink{
  animation: 1s linear infinite blink_effect;
}
@keyframes blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}